header {
    background-color: #f8e7d6;
  }
  
  .banner {
    padding: 5rem 0;
    background-color: #f8e7d6;
  }
  
  .banner h1 {
    margin: 0;
    font-size: 6rem;
    font-family: 'Lora', serif;
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #FB0079, #feb47b);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .banner .lead {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #FF9C30;
    font-family: 'Lora', serif;
  }
  
  .btn-gradient {
    background: linear-gradient(45deg, #FB0079, #FF9C30);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-gradient:hover {
    opacity: 0.8;
  }
  
  .btn-custom {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-custom:hover {
    opacity: 0.7;
  }
  
  .gradient-text {
    text-shadow: 2px 2px 4px rgba(224, 89, 89, 0.5);
  }
  
  .tagline {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .mat-expansion-panel-header {
    background-color: #f8e7d6;
  }
  
  .mat-expansion-panel-body {
    background-color: #fff;
  }