<footer class="footer">
  <div class="footer-content">
    <!-- <nav>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contacts</a>
      <a href="#">FAQs</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Blog</a>
    </nav> -->
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Company</h4>
        <ul>
          <li><a class="nav-link" routerLink="/home" fragment="about">About</a></li>
          <li><a class="nav-link" routerLink="/home" fragment="trainers">Our Team</a></li>
          <li><a class="nav-link" routerLink="/home" fragment="services">Services</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Support</h4>
        <ul>
          <li><a href="help-chat">Help Center</a></li>
          <li> <a class="nav-link" routerLink="/home" fragment="contact">Contact Support</a></li>
          <li><a href="/faq">FAQs</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Legal</h4>
        <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/cookie-policy">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="social-icons">
      <a href="www.facebook.com" aria-label="Facebook"><img src="assets/icons/facebook.svg" alt="Facebook"></a>
      <a href="www.twitter.com" aria-label="Twitter"><img src="assets/icons/twitter.svg" alt="Twitter"></a>
      <a href="www.linkedin.in" aria-label="LinkedIn"><img src="assets/icons/linkedin.svg" alt="LinkedIn"></a>
      <a href="www.instagram.com" aria-label="Instagram"><img src="assets/icons/instagram.svg" alt="Instagram"></a>
      <a href="www.youtube.in" aria-label="YouTube"><img src="assets/icons/youtube.svg" alt="YouTube"></a>
      <a href="www.whatsapp.com" aria-label="Whatsapp"><img src="assets/icons/whatsapp.svg" alt="Whatsapp"></a>
    </div>
  </div>
  <br>
  <br>
  <p>EduFusion © 2013 - 2023<br>
  All Rights Reserved</p>
</footer>
