<div class="services-offered">
  <h2>Services offered by EduFusion</h2>
  <p>Contact us for tailored solutions and expert support.</p>

  <div class="services-container">
    <div class="service-card">
      <i class="fa fa-book service-icon"></i> <!-- Course Management Icon -->
      <h3>Course Management</h3>
      <p>Leverage our powerful tools for easy course creation and management, allowing educators to design engaging content that meets the needs of their learners.</p>
      <a routerLink="/service-desc" fragment="course-management" class="contact-link">Know More &gt;</a>
      <a routerLink="/service-desc" fragment="course-management" class="full-card-link"></a>
    </div>

    <div class="service-card">
      <i class="fa fa-tasks service-icon"></i> <!-- Project Management Icon -->
      <h3>Project Management</h3>
      <p>Our intuitive platform ensures that both instructors and learners can navigate effortlessly, maximizing the learning experience from start to finish.</p>
      <a routerLink="/service-desc" fragment="project-management" class="contact-link">Know More &gt;</a>
      <a routerLink="/service-desc" fragment="project-management" class="full-card-link"></a>
    </div>

    <div class="service-card">
      <i class="fa fa-graduation-cap service-icon"></i> <!-- Interview Preparation Icon -->
      <h3>Interview Preparation</h3>
      <p>Gain valuable insights into learner progress and course effectiveness with our comprehensive analytics tools, helping you make informed decisions to enhance educational outcomes.</p>
      <a routerLink="/service-desc" fragment="interview-preparation" class="contact-link">Know More &gt;</a>
      <a  routerLink="/service-desc" fragment="interview-preparation" class="full-card-link"></a>
    </div>

    <div class="service-card">
      <i class="fa fa-chart-line service-icon"></i> <!-- Learning Analytics Icon -->
      <h3>Learning Analytics</h3>
      <p>Utilize our advanced analytics to track learner progress, identify trends, and make data-driven decisions to improve educational outcomes.</p>
      <a routerLink="/service-desc" fragment="learning-analytics" class="contact-link">Know More &gt;</a>
      <a routerLink="/service-desc" fragment="learning-analytics" class="full-card-link"></a>
    </div>
  </div>
</div>