.services-offered {
  text-align: center;
  padding: 20px;
}

h2{
  font-weight: bold;
  color:  #FB0079
}

.services-container {
  display: flex;
  justify-content: center; /* Center the cards */
  gap: 20px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.service-card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  width: 18%; /* Make the cards thinner */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced out */
  position: relative; /* Ensure the full-card-link covers the entire card */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
}

.service-card:hover {
  transform: translateY(-10px); /* Lift the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.service-card h3 {
  color: #FB0079;
}

.service-card p {
  font-size: 14px;
  color: #555;
}

.contact-link {
  color: #FB0079;
  font-weight: bold;
  text-decoration: none;
  position: relative; /* Ensure the contact link is above the full-card-link */
  z-index: 2; /* Ensure the contact link is clickable */
}

.contact-link:hover {
  text-decoration: underline;
}

.service-card a.full-card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.service-icon {
  font-size: 2rem; /* Adjust the size as needed */
  color: #FB0079; /* Pink color for the icons */
  display: block;
  margin-bottom: 10px;
}