<!-- <div class="container">
    <h2>Change Password</h2>
    <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required minlength="6" class="form-control" #currentPasswordInput="ngModel">
        <div *ngIf="currentPasswordInput.invalid && (currentPasswordInput.dirty || currentPasswordInput.touched)" class="text-danger">
          <div *ngIf="currentPasswordInput.errors?.required">Current Password is required.</div>
          <div *ngIf="currentPasswordInput.errors?.minlength">Current Password must be at least 6 characters long.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required minlength="6" class="form-control" #newPasswordInput="ngModel">
        <div *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)" class="text-danger">
          <div *ngIf="newPasswordInput.errors?.required">New Password is required.</div>
          <div *ngIf="newPasswordInput.errors?.minlength">New Password must be at least 6 characters long.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="6" class="form-control" #confirmPasswordInput="ngModel" [ngClass]="{'is-invalid': confirmPassword !== newPassword}">
        <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="text-danger">
          <div *ngIf="confirmPasswordInput.errors?.required">Confirm New Password is required.</div>
          <div *ngIf="confirmPasswordInput.errors?.minlength">Confirm New Password must be at least 6 characters long.</div>
          <div *ngIf="confirmPassword !== newPassword">Passwords do not match.</div>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">Change Password</button>
      </div>
    </form>
  </div> -->