<div class="container">
  <!-- <i class="fa fa-user-circle login-icon"></i>  -->
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label>Email: <span class="required">*</span></label>
      <input class="form-control" formControlName="email" type="email">
    </div>
    <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="text-danger">
      <div *ngIf="loginForm.controls['email'].errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="loginForm.controls['email'].errors?.['email']">
        Enter a valid Email Id.
      </div>
    </div>
    <div class="form-group">
      <label>Password: <span class="required">*</span></label>
      <input class="form-control" formControlName="password" type="password">
    </div>
    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text-danger">
      <div *ngIf="loginForm.controls['password'].errors?.['required']">
        Password is required.
      </div>
    </div>
    <br>
    <div class="button-container">
      <button type="submit" [disabled]="loginForm.pristine || loginForm.invalid" class="btn btn-gradient">
        Login
      </button>
    </div>
  </form>
  <br />
  <p>Don't have an account? <a class="signup-link" routerLink="/signup" >Sign up here</a>
</div>