.contact-section {
    display: flex;
    justify-content: space-between;
  }

  h1{
    font-weight: bold;
  }
  .map-container {
    width: 50%;
    height: 400px;
  }
  
  .contact-form {
    width: 45%;
    padding: 20px;
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-form p {
    margin-bottom: 20px;
  }
  
  .contact-form form div {
    margin-bottom: 15px;
  }
  
  .contact-form form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded corners */
  }

  .contact-form form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px; /* Rounded corners */
  }
  
  .contact-form form button {
    padding: 10px 20px;
    background: linear-gradient(to right, #FB0079, #FF9C30); /* Gradient background */
    color: white;
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
  }
  
  p span {
    margin-right: 30px; /* Adds space between the spans */
  }
  
  p i.fa {
    color: #FB0079; /* Makes the icons pink */
  }
  
  .text-danger {
    color: red; /* Validation messages in red */
  }

  .star{
    color: red;
  }