<div class="container">
    <h2>Set Your New Password</h2>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>New Password: <span class="required">*</span></label>
        <input class="form-control" formControlName="newPassword" type="password">
      </div>
      <div *ngIf="newPasswordForm.controls['newPassword'].invalid && (newPasswordForm.controls['newPassword'].dirty || newPasswordForm.controls['newPassword'].touched)" class="text-danger">
        <div *ngIf="newPasswordForm.controls['newPassword'].errors?.['required']">
          New Password is required.
        </div>
        <div *ngIf="newPasswordForm.controls['newPassword'].errors?.['minlength']">
          Password must be at least 8 characters long.
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password: <span class="required">*</span></label>
        <input class="form-control" formControlName="confirmPassword" type="password">
      </div>
      <div *ngIf="newPasswordForm.controls['confirmPassword'].invalid && (newPasswordForm.controls['confirmPassword'].dirty || newPasswordForm.controls['confirmPassword'].touched)" class="text-danger">
        <div *ngIf="newPasswordForm.controls['confirmPassword'].errors?.['required']">
          Confirm Password is required.
        </div>
        <div *ngIf="newPasswordForm.hasError('passwordMismatch')">
          Passwords do not match.
        </div>
      </div>
      <br>
      <div class="button-container">
        <button type="submit" [disabled]="newPasswordForm.pristine || newPasswordForm.invalid" class="btn btn-gradient">
          Set Password
        </button>
      </div>
    </form>
  </div>
