<div id="carouselExampleIndicators" class="carousel slide testimonial-section" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="hover">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let testimonial of testimonials; let i = index" [class.active]="i === 0">
      <div class="testimonial">
        <p class="testimonial-text">
          {{ testimonial.text }}
        </p>
      <b>
        <p class="testimonial-author">
          - {{ testimonial.author }}
        </p>
      </b>
      </div>
    </div>
    <br>
    <br>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>