<div class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="assets/images/Logo.jpg" alt="Edufusion Logo" class="logo"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="role !== 'admin'">
        <a class="nav-link" routerLink="/home"><i class="fa fa-home"></i>  Home</a>
      </li>
      <li class="nav-item" *ngIf="role !== 'admin'">
        <a class="nav-link" routerLink="/home" fragment="services"><i class="fa fa-gear"></i>  Services</a>
      </li>
      <li class="nav-item" *ngIf="role !== 'admin'">
        <a class="nav-link" routerLink="/home" fragment="trainers"><i class="fa fa-users"></i>  Team</a>
      </li>
      <li class="nav-item" *ngIf="role !== 'admin'">
        <a class="nav-link" routerLink="/home" fragment="testimonials"><i class="fa fa-commenting"></i>  Testimonials</a>
      </li>
      <li class="nav-item dropdown" *ngIf="!isLoggedIn && role !== 'admin'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fa fa-book"></i> 
           Courses
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
          <li><a class="dropdown-item" routerLink="/all-courses"><i class="fa fa-graduation-cap"></i> All Courses</a></li>
          <li><a class="dropdown-item" routerLink="/popular-courses"> <i class="fa fa-fire"></i> Popular Courses</a></li>
        </ul>
      </li>
      <!-- <li class="nav-item dropdown" *ngIf="role !== 'admin'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Blog
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
          <li><a class="dropdown-item" routerLink="/blog/courses">Courses</a></li>
          <li><a class="dropdown-item" routerLink="/blog/services">Services</a></li>
        </ul>
      </li> -->
      <li class="nav-item" *ngIf="role !== 'admin'">
        <a class="nav-link" routerLink="/home" fragment="contact"><i class="fa fa-phone"></i>  Contact</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && role !== 'admin'">
        <a class="nav-link" routerLink="help-chat"><i class="fa fa-question-circle"></i> Ai Support</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn && role !== 'admin'">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-circle"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" (click)="navigateToDashboard()"> <i class="fa fa-user-circle"></i>  My Profile</a></li>
          <li *ngIf="role !== 'trainer'"><a class="dropdown-item" routerLink="/all-courses"><i class="fa fa-check-square"></i> Enroll Courses</a></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>  Logout</a></li>
        </ul>
      </li>
      <li class="nav-item" *ngIf="role === 'admin'">
        <a class="nav-link" routerLink="/admin-dashboard"> <i class="fa fa-user-circle"></i> Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="role === 'admin'">
        <a class="nav-link" routerLink="/all-courses"><i class="fa fa-book"></i> All Courses</a>
      </li>
      <li class="nav-item" *ngIf="role === 'admin'">
        <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>