<div class="container">
  <h1>Trainer Dashboard</h1>

  <!-- Profile Section -->
  <div class="profile-section">
    <h2 class="gradient-text">Welcome, {{ user.name }}</h2><br>
    <div class="row">
      <div>
        <div class="card" @fadeIn>
          <div class="card-header">
            Profile Information
          </div>
          <div class="card-body profile-info">
            <i class="fas fa-user-circle profile-icon"></i>
            <p><i class="fas fa-user icon"></i><strong>Name:</strong> {{ user.name }}</p>
            <p><i class="fas fa-envelope icon"></i><strong>Email:</strong> {{ user.email }}</p>
            <p><i class="fas fa-phone icon"></i><strong>Phone:</strong> {{ user.phone }}</p>
            <p><i class="fas fa-user-tag icon"></i><strong>Role:</strong> {{ user.role }}</p>
            <p><i class="fas fa-briefcase icon"></i><strong>Designation:</strong> {{ user.designation }}</p>
            <p><i class="fas fa-graduation-cap icon"></i><strong>Expertise:</strong> {{ user.expertise }}</p>
            <button mat-button class="btn-gradient" (click)="editProfile()">Edit Profile</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Courses Section -->
  <div class="courses-section mt-4">
    <h2>Courses</h2>
    <button class="btn btn-primary" (click)="openCourseDialog()">Add Course</button>
    <ul class="list-group mt-3">
      <li class="list-group-item" *ngFor="let course of courses">
        <div class="course-info">
          <img [src]="course.image" alt="{{ course.name }}" class="course-image">
          <div class="course-details">
            <h3>{{ course.name }}</h3>
            <p>{{ course.category }}</p>
            <p>{{ course.description }}</p>
            <p>Tags: {{ course.tags.join(', ') }}</p>
          </div>
        </div>
        <div class="course-actions">
          <button class="btn btn-warning" (click)="editCourse(course)">Edit</button>
          <button class="btn btn-danger" (click)="confirmDeleteCourse(course.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Course Dialog -->
  <ng-template #courseDialog>
    <h1 mat-dialog-title>{{ isEditMode ? 'Edit Course' : 'Add Course' }}</h1>
    <div mat-dialog-content>
      <form [formGroup]="courseForm" (ngSubmit)="onSubmitCourse()">
        <div class="form-group">
          <label for="courseName">Name</label>
          <input type="text" id="courseName" formControlName="name" class="form-control">
          <div
            *ngIf="courseForm.get('name')?.invalid && (courseForm.get('name')?.dirty || courseForm.get('name')?.touched)"
            class="text-danger">
            <div *ngIf="courseForm.get('name')?.errors?.['required']">Name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="courseCategory">Category</label>
          <input type="text" id="courseCategory" formControlName="category" class="form-control">
          <div
            *ngIf="courseForm.get('category')?.invalid && (courseForm.get('category')?.dirty || courseForm.get('category')?.touched)"
            class="text-danger">
            <div *ngIf="courseForm.get('category')?.errors?.['required']">Category is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="courseDescription">Description</label>
          <textarea id="courseDescription" formControlName="description" class="form-control"></textarea>
          <div
            *ngIf="courseForm.get('description')?.invalid && (courseForm.get('description')?.dirty || courseForm.get('description')?.touched)"
            class="text-danger">
            <div *ngIf="courseForm.get('description')?.errors?.['required']">Description is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="courseImage">Image</label>
          <input type="file" id="courseImage" (change)="onImageChange($event)" class="form-control">
        </div>
        <div class="form-group">
          <label for="courseTags">Tags</label>
          <input type="text" id="courseTags" formControlName="tags" class="form-control">
          <div
            *ngIf="courseForm.get('tags')?.invalid && (courseForm.get('tags')?.dirty || courseForm.get('tags')?.touched)"
            class="text-danger">
            <div *ngIf="courseForm.get('tags')?.errors?.['required']">At least 2 tags are required.</div>
          </div>
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-secondary" (click)="dialog.closeAll()">Cancel</button>
          <button type="submit" class="btn btn-success" [disabled]="courseForm.invalid">{{ isEditMode ? 'Update' : 'Add'
            }}</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Edit Profile Dialog -->
  <ng-template #editProfileDialog>
    <h1 mat-dialog-title>Edit Profile</h1>
    <div mat-dialog-content class="edit-profile-dialog">
      <form [formGroup]="editProfileForm" (ngSubmit)="updateProfile()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control">
          <div
            *ngIf="editProfileForm.get('name')?.invalid && (editProfileForm.get('name')?.dirty || editProfileForm.get('name')?.touched)"
            class="text-danger">
            <div *ngIf="editProfileForm.get('name')?.errors?.['required']">Name is required.</div>
            <div *ngIf="editProfileForm.get('name')?.errors?.['minlength']">Name should be at least 5 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control">
          <div
            *ngIf="editProfileForm.get('email')?.invalid && (editProfileForm.get('email')?.dirty || editProfileForm.get('email')?.touched)"
            class="text-danger">
            <div *ngIf="editProfileForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="editProfileForm.get('email')?.errors?.['email']">Enter valid Email Id.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" formControlName="phone" class="form-control">
          <div
            *ngIf="editProfileForm.get('phone')?.invalid && (editProfileForm.get('phone')?.dirty || editProfileForm.get('phone')?.touched)"
            class="text-danger">
            <div *ngIf="editProfileForm.get('phone')?.errors?.['required']">Phone is required.</div>
            <div *ngIf="editProfileForm.get('phone')?.errors?.['pattern']">Phone number should be 10 digits.</div>
          </div>
        </div>
        <div class="button-container">
          <button type="button" mat-button class="btn-custom" (click)="closeEditProfileDialog()">Cancel</button>
          <button type="submit" mat-button class="btn-gradient" [disabled]="editProfileForm.invalid">Save</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Confirmation Dialog -->
  <ng-template #confirmDialog>
    <h1 mat-dialog-title>Confirm Deletion</h1>
    <div mat-dialog-content>
      <p>Are you sure you want to delete this course?</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button class="btn-custom" (click)="closeConfirmDialog()">No</button>
      <button mat-button class="btn-gradient" (click)="deleteCourse()">Yes</button>
    </div>
  </ng-template>
</div>